footer {
    background-color: #1c1c1c;
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid white;
    overflow-x: hidden;
}

footer div span {
    font-size: 2em;
    color: #fff;
}

footer div {
   align-self: center;
}

footer div ul {
    display: flex;
    flex-direction: column;
    
}

footer div ul li {
    list-style-type: none;
    font-size: 1.1em;
    color: #fff;
}