* {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.landing-page-container {
    background-image: url('/images/landingpage_image.jpg');
    width: 100vw;
    height: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.landing-page-container p, .landing-page-container h1{
    text-align: center;
    font-size: 4em;
}

.arrow {
    width: 10em;
    align-self: center;
}