* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Barlow', sans-serif;
}

.image-container {
    width: 100%;
    margin: auto;
}

.slider-container {
    width: 600vw;
    height: 100vh;
    display: flex;
}

.slider-container img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
} 

.next-btn, .prev-btn {
    cursor: pointer;
    width: 5vw;
    z-index: 5;
    top: 40%;
    opacity: 0.6;
    font-size: 3em;
    position: absolute;
    background-color: rgb(180, 180, 180);
}

.next-btn {
    animation: next-btn-slide 2s ease-in-out forwards;
    transform: rotate(180deg);
}

.prev-btn {
    animation: prev-btn-slide 2s ease-in-out forwards;
}

.next-btn:hover, .prev-btn:hover {
    background-color: rgb(160, 160, 160);
}

.landing-page-text-container {
    position: absolute;
    width: 40vw;
    height: 30vw;
    z-index: 5;
    top: 45%;
    left: 30%;
    font-size: 6em;
    overflow: hidden;
}

.landing-page-text-container h2, .landing-page-text-container p {
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 50px #000000;
    font-weight: bolder;
}

.landing-page-text-container h2 {
    font-size: 1.25em;
    animation: fade-in 2s ease-in-out forwards;
}

.landing-page-text-container p {
    font-size: .6em;
    animation: fade-in 2s ease-in-out forwards;
}

.arrow {
    animation: move-up-down 2s linear infinite;
    position: absolute;
    width: 10vw;
    z-index: 5;
    top: 75%;
    left: 45%;
    opacity: 0.8;
}

main {
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 250vh;
}

.yellow2 {
    position: absolute;
    width: 105vw;
    /* margin-top: 130vh; */
}

.welcome-text-container  {
    margin: 0 auto;
    margin-top: 10vh;
    z-index: 5;
}

.welcome-text {
    font-size: 7em;
    color: #fff;
}

.user-text {
}

@keyframes move-up-down {
    0%, 100% {
      transform: translateY(-25);
    }
    50% {
      transform: translateY(-50px);
    }
}

@keyframes next-btn-slide {
    from { left: 105%; }
    to { left: 95%; }
}

@keyframes prev-btn-slide {
    from { left: -10%; }
    to { left: 0%; }
}

@keyframes fade-in {
    from { opacity: 0%; }
    to { left: 100%; }
}