@media screen and (max-width: 1890px) {
    
    /* nav */
    .left-div ul li a {
        font-size: .8em;
    }

    .landing-page-text-container {
        font-size: 3.5em;
    }
}

@media screen and (max-width: 1320px) { 
    .landing-page-text-container {
        font-size: 2.2em;
    }

    .left-div ul li a {
        font-size: .6em;
    }

    .logo {
        width: 25vw;
    }

}

@media screen and (max-width: 1020px) {
    
    .landing-page-text-container {
        font-size: 2em;
    }

    .logo {
        width: 20vw;
        position: absolute;
    }

    .right-div ul li {
        margin-right: 1em;
    }

    .right-div ul li img{ 
        width: 60%; 
    }
    
}

@media screen and (max-width: 950px) { 
    .left-div ul li a {
        font-size: .45em;
    }
}

/* Mobile */
@media screen and (max-width: 750px) {

    main {
        height: 165vh;
    }

    .background-image {
        display: none;
    }

    nav .right-div, nav .left-div, .logo{
        display: none;
    }

    .mobile-nav-btn-container {
        display: flex;
        align-items : center;
        cursor: pointer;
    }

    .mobile-menu { 
        display: flex;
    }

    .next-btn, .prev-btn {
        height: 10vh;
        width: 10vw;
    }

    .next-btn {
        left: 90%;
    }

    .landing-page-text-container {
        left: 10%;
        font-size: 1.8em;
        width: 80vw;
    }

    .arrow {
        top: 90%;
        width: 15vw;
    }

    .welcome-text {
        width: 90vw;
        text-align: end;
        font-size: 1.5em;
    }

    /* Form section */

    .sign-up-form {
        margin-top: 50vh;
        width: 80vw;
        height: 100vw;
    }

    .sign-up-form h2 { 
        font-size: 1.5em;
        overflow: hidden;
    }

    .sign-up-form input, .sign-up-form label{
        height: 10%;
        width: 80%;
    }

    .name-div input, .name-div label{
        width: 80%;
        height: 150%;
        font-size: 1.5em;
        margin: 0 auto;
    }

    .sign-up-form button { 
        width: 35%;
        overflow: hidden;
    }

    /* Footer */

    footer {
        justify-content: space-between;
    }

    
}