nav {
    background-color: #1c1c1c;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    z-index: 10;
    overflow: visible;
}

.mobile-nav-btn-container {
    display: none;
    color: #fff;
    background-color:#1c1c1c;
    z-index: 5;
    width: 100vw;
    height: 10vh;
}

.mobile-nav-btn-container h2{ 
    margin-left: 2vw;
    font-size: 2em;
} 

.mobile-nav-btn-container img{ 
    height: 50%;
    margin: auto;
}

.hamburger {
    position: absolute;
    left: 83vw;
}

.hamburger div{
    background-color: lightgray;
    margin-bottom: 6px;
    height: 3px;
    width: 35px;
}

.mobile-menu {
    display: none;
    position: absolute;
    background-color: #1c1c1c;
    width: 100vw;
    height: 200%;
    justify-content: center;
    transition: top .4s ease-in-out;
    top: -100%;
}

.mobile-menu ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-menu ul li a{
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 1.2em;
}

.mobile-menu ul li img {
    width: 5vw;
}

.menu-open {
    top: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 80%;
}

.left-div, .right-div{
    display: flex;
    justify-content: space-around;
    width: 30vw;
}

.left-div li, .right-div li{ 
    list-style: none;
}

.left-div li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
    margin-left: 3em;
    list-style: none;
}

.left-div li a:hover { 
    color: rgb(163, 163, 163);
    cursor: pointer;
}

.right-div{
    margin-left: auto;  
}

.right-div li img{ 
    width: 2vw;
    border-radius: 50%; 
    cursor: pointer;
}