nav {
    background-color: #1c1c1c;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    z-index: 10;
    overflow: hidden;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.left-div{
    width: 25vw;
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
}

.left-div ul{
    display: flex;
}

.left-div ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    margin-left: 3em;
}

.left-div ul li a:hover { 
    color: rgb(163, 163, 163);
    cursor: pointer;
}

.right-div{
    width: 25vw;
    display: flex;
    justify-content: center;
    margin-left: auto;  
}

.right-div ul{
    display: flex;
}

.right-div ul li{
    margin-right: 2em;  
}